# Clojure
.cpcache
.nrepl-port
target/
classes/
reports/
.eastwood
*.class
# Direnv
./.envrc-local
# Go
vendor/
# Nix
result*
# Python
__pycache__/
# Python
*.whl
# Bazel
bazel-*
.bazelrc.local
# Emacs
.\#*
# Haskell
dist-newstyle/
cabal.project.local*
bench-*
bench.*
# C
a.out
core