{:paths ["src"]
 :deps {ring/ring-core                {:mvn/version "1.8.1"}
        ring/ring-defaults            {:mvn/version "0.3.2"}
        http-kit                      {:mvn/version "2.4.0"}
        org.clojure/clojure           {:mvn/version "1.10.1"}
        org.clojure/data.json         {:mvn/version "1.0.0"}
        metosin/reitit                {:mvn/version "0.5.5"}
        seancorfield/next.jdbc        {:mvn/version "1.1.582"}
        gnl/ghostwheel                {:mvn/version "0.3.9"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.11"}}
                     :main-opts  ["-m" "uberdeps.uberjar"
                                  "--target" "target/scheduler-0.0.0.jar"]}}}
